<div class="nav">
  <a><h1 class="ttl-logo">SCM Cafe</h1></a>
  <ul>
    <li><%= link_to "Order Lists", chefs_path, class: "link is-active" %></li>
    <li>Item Lists</li>
    <li><%= link_to "Profile", chef_profile_path, class: "link is-active" %></li>
    <li>Graph</li>
    <li><%= link_to "Log Out", chef_sign_out_path, class: "link", method: :post  %></li>
  </ul>
</div>
