<div class="nav">
  <a><h1 class="ttl-logo">SCM Cafe</h1></a>
  <ul>
    <% if session[:waiter_id] || session[:chef_id] %>
      <% if session[:chef_id] %>
        <li>
          <%= link_to "Order Lists", chefs_path, class: "link is-active" %>
        </li>
      <% end %>
      <li>
        <%= link_to "Item List", items_path, class: session[:waiter_id] ? "link is-active" : "link" %>
      </li>
      <li>
        <%= link_to "Profile", session[:waiter_id] ? waiter_path(id: session[:waiter_id]) : chef_path(id: session[:chef_id]),
                    class: "link" %>
      </li>
      <li>Graph</li>
      <li>
        <%= link_to "Log Out", chef_sign_out_path, class: "link", method: :post %>
      </li>
    <% end %>
  </ul>
</div>
