/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require reset.css
*/
@import "reset";

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.notice {
  position: absolute;
  top: 0;
  width: 100%;
  color: red;
  text-align: center;
}

.alert {
  position: absolute;
  top: 0;
  width: 100%;
  color: green;
  text-align: center;
}

.error {
  color: red;
}

.center {
  text-align: center;
}

.mt-30 {
  margin-top: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background: #d2b48c;
}

.nav ul {
  display: inline-flex;
}
.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  display: inline-block;
  padding: 10px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.ttl-logo {
  color: dimgray;
  font-family: fantasy;
  font-size: 30px;
  font-style: italic;
}

.link {
  color: #000000;
  text-decoration: none;
}

.is-active {
  color: darkviolet;
}

.nav ul li a:hover {
  background-color: dimgray;
}

.nav ul li:hover .link {
  color: #ffffff;
}

/* item */
.hdr {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #d7dfdf;
  color: #000000;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

.fa-plus-square,
.fa-minus-square {
  font-size: 20px;
}