// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ResetForm {
  margin: 50px auto auto auto;
  padding: 50px;
  border: solid #8fa8a9;
  max-width: 400px;
  border-radius: 20px;
}

h2 {
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: center;
}

.box {
  padding-top: 20px;
  padding-top: 20px;
}

.email,
.password {
  width: calc(100% - 25px);
  padding: 10px;
  border: 2px solid #8fa8a9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  border-radius: 10px;
}

.submit {
  padding-top: 30px;
  text-align: center;
}

.btn {
  width: 150px;
  padding: 10px;
  border: solid #8fa8a9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 10px;
}

.btn:hover {
  background-color: #1245ec;
  color: #ffffff;
}