// Place all the styles related to the waiters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container {
  margin: 50px auto auto auto;
  padding: 50px;
  max-width: 400px;
  border-radius: 20px;
  border: solid #8fa8a9;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background: #d2b48c;
}
.nav ul {
  display: inline-flex;
}
.nav ul li {
  padding: 10px;
  margin-right: 20px;
}
.nav ul li:last-child {
  margin-right: 0;
}
.ttl-logo {
  font-size: 30px;
  font-family: fantasy;
  font-style: italic;
  color: dimgray;
}
.link {
  text-decoration: none;
  color: #000000;
}
.is-active {
  color: rgb(179, 255, 0);
}
.nav ul li:hover {
  background-color: dimgray;
}
.nav ul li:hover .link {
  color: #ffffff;
}
h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  color: cadetblue;
}
.text-danger {
  color: red;
}
.login-form {
  width: 80%;
  margin: 50px auto auto auto;
}
.login-photo {
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  width: 100px;
}
.mb-20 {
  margin-bottom: 20px;
}
.text-box {
  width: calc(100% - 25px);
  padding: 10px;
  border: 2px solid #8fa8a9;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}
.text-box:hover {
  border-color: rgb(31, 158, 31);
}
.login-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.submit {
  display: flex;
  justify-content: space-between;
}
.submit-btn:hover {
  background-color: green;
  color: #ffffff;
}
.submit-btn,
.cancel-btn {
  width: 100px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 10px;
}
.cancel-btn {
  border: 1px solid;
  text-decoration: none;
}
.cancel-btn:hover {
  background-color: rgb(30, 12, 189);
  color: #ffffff;
}

// Waiter Profile & change password
.outer-container{
  max-width: 1400px;
  margin: 0 auto;
}
.profile-password {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  display: flex;
  justify-content:space-around;
  margin-top: 10px;
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.left {
  margin-right: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: right;
}

.right {
  margin-left: -7px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-style: italic;
}

//Waiter Item List
.item-container {
  width: 1300px;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
/*Section*/
.section {
  float: left;
  width: 900px;
  margin-top: 20px;
}
.card {
  display: inline-block;
  width: 23%;
  margin: 20px 18px 20px 0px;
}
.card img{
  border: 2px solid #916cd6;
  border-radius: 7px;
  margin-bottom: 10px;
}
.card:nth-child(5n+5) {
  margin-right: 0;
}
.cat-title {
  font-size: 40px;
  margin: 20px 0;
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid #808080;
}
.item-detail {
  margin-bottom: 20px;
  list-style-type: none;
  text-align: center;
}
.item-detail li {
  margin-bottom: 10px;
}
.btn {
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  background-color: #0275d8;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
/*Aside*/
.aside {
  float: right;
  width: 380px;
  margin-top: 70px;
}
.order-list {
  position: fixed;
  margin-left: 20px;
}
.order-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.cancel {
  color: #808080;
}
.table {
  border-collapse: collapse;
  text-align: center;
}
.thead {
  border-bottom: 1px solid #808080;
}
.tfoot {
  border-top: 1px solid #808080;
}
.thead th {
  font-size: 20px;
  padding: 5px;
}
.table td {
  padding: 10px;
}
