// Place all the styles related to the WaiterPasswordReset controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ResetForm {
    margin: 50px auto auto auto;
    padding: 50px;
    max-width: 400px;
    border-radius: 20px;
    border: solid #8fa8a9;
  }