// Place all the styles related to the waiters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container {
  margin: 50px auto auto auto;
  padding: 50px;
  max-width: 400px;
  border-radius: 20px;
  border: solid cadetblue;
}
h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  color: cadetblue;
}
.login-form {
  width: 80%;
  margin: 50px auto auto auto;
}
.login-photo {
  text-align: center;
}
.logo {
  width: 100px;
}
.text-box {
  width: calc(100% - 25px);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}
.login-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.submit {
  display: flex;
  justify-content: space-between;
}
.submit-btn,
.cancel-btn {
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.cancel-btn {
  border: 1px solid;
}