<div class="nav">
  <a><h1 class="ttl-logo">SCM Cafe</h1></a>
  <ul>
    <li>
      <%= link_to "Items Lists", waiters_path, class: "link is-active" %>
    </li>
    <li>
      <%= link_to "Profile", waiter_path(id: session[:waiter_id]), class: "link" %>
    </li>
    <li>Graph</li>
    <li>
      <%= link_to "Log Out", waiter_sign_out_path, class: "link", method: :post %>
    </li>
  </ul>
</div>

